{% extends 'base.html' %}
{% block content %}
<main>
  <section class="text-center container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h1 class="fw-light">Card generator</h1>
        <p class="lead text-muted">You can generate cards by desired parameters.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
          <button class="btn btn-primary my-2" type="submit">Create</button>
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock %}