{% extends 'base.html' %}
{% block content %}
<main>
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-4">
        <h1 class="fw-light">Card base example</h1>
        <p class="lead text-muted">You can filter cards by desired parameters.</p>
        <form action="{% url 'card_list' %}" method="get">
            {{ form.as_p }}
          <button class="btn btn-primary my-2" type="submit">Search</button>
        </form>
      </div>
      <div class="col-lg-8">
          <div class="albumpy-5 bg-light">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for card in object_list %}
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="{{ card.image.url }}" alt="Card">
                    <div class="card-body">
                        <p class="card-text">Card series: {{ card.series }}</p>
                        <p class="card-text">Card number: {{ card.number }}</p>
                        <p class="card-text">Valid to: {{ card.valid_date.month }}/{{ card.valid_date.year }}</p>
                        <p class="card-text">Cardholder name: {{ card.cardholder_name }}</p>
                        <p class="card-text">Status: {{ card.status }}</p>
                        <p class="card-text">Balance: $ {{ card.balance }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a class="btn btn-sm btn-outline-secondary" href="">View</a>
                              <a class="btn btn-sm btn-outline-secondary"
                                  {% if card.status == 'active' %} href="">Deactivate
                                  {% elif card.status == 'not_active' %} href="">Activate
                                  {% else %} href="">Get new
                                  {% endif %}
                              <a class="btn btn-sm btn-outline-secondary" href="">Delete</a>
                              </a>
                            </div>
                        <small class="text-muted">{{ car.date }}</small>
                        </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}